@import url('//fonts.googleapis.com/css?family=Open+Sans');
@import (inline) 'font-awesome.min.css';

@header-height: 60px;

@fill-available-space: {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
};

@button-set: {
    font-size: 16px;
    text-decoration: none;
    color: #00a8ff;
    border: 2px solid #00a8ff;
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);

    &:hover {
        color: white;
        background-color: #00a8ff;
    }
};

@ellipsis: {
    white-space: nowrap;
    overflow: hidden;
    ;text-overflow: ellipsis;
};

html, body {
    @fill-available-space();

    font-family: 'Open Sans', sans-serif;
    color: white;
}

body {
    background: url('../img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

.main-layer {
    @fill-available-space();
    overflow: scroll;

    .content {
        padding-top: @header-height+20px;
        padding-bottom: 20px;
        width: auto;

        &.single-element {
            margin: 0;
            height: 100%;

            .single-element-list {
                align-items: center;
                height: 100%;
            }
        }
    }
}

@import "../src/directives/nav-header/nav-header.less";
@import "../src/directives/item-layout/item-layout.less";
@import "../src/directives/item-card/item-card.less";
@import "../src/directives/newsletter-form/newsletter-form.less";