<div class="main-layer" ng-controller="MainController as main">
    <nav-header username="{{ username }}"></nav-header>
    <div class="content single-element" ng -show="items">
        <item-layout ng-class="{'single-element-list': true}">
            <item-card
                ng-if="items.length > 0"
                ng-repeat="item in items"
                title="{{ ::item.title }}"
                location="{{ ::item.location }}"
                image="{{ ::item.image }}"
                price="{{ ::item.price }}"
                link="{{ ::item.link }}"
                notes="{{ ::item.notes }}">
            </item-card>
            <newsletter-form ng-if="items.length === 0"></newsletter-form>
        </item-layout>
    </div>
</div>